.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12.5em;
  background: #e1e1e1;
  margin: -1em -2.5em 1em;
  font-size: 2em;
}

.wrapper {
  /* width: calc(100% - 10vmin); */
  margin: 0 auto;
  padding: 0 0 5vmin;
  font-size: 18px;
  line-height: 2;
}

.wrapper h2 {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wrapper p {
  color: #aaa;
}

.wrapper a {
  color: rgb(215, 215, 215);
}
