.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 768px;
  background: #000000;
  color: #ffffff;
  font-size: 2em;
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}

.hero img {
  max-width: 290px;
}
