@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media only screen and (max-width: 580px) {
  html {
    font-size: 25%;
  }
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 960px) {
  html {
    font-size: 100%;
  }
}

@keyframes fade-in-to-85 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-slow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  /* font-family: 'Avenir', Tahoma, Arial, Helvetica, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373f49;
  background: #000;
  margin: 0;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
.heading_1,
.heading_2,
.heading_3 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  text-rendering: geometricPrecision;
  margin-bottom: 5rem;
  color: #d0d5dc;
}

h1,
.heading_1 {
  font-size: 2em;
}
h2,
.heading-2 {
  font-size: 1.5em;
}
h3,
.heading-3 {
  font-size: 1.3em;
}

a {
  color: currentColor;
}

*:focus {
  outline: 3px solid rgba(255, 255, 255, 0.4);
  outline-offset: 0.5rem;
}

.bold {
  font-weight: 400;
}

.fontsize-2 {
  font-size: 1.5rem;
}

.wrapper {
  margin: 0 auto;
  padding: 0 0 5vmin;
}

/**
 * article grid
 */
.article-paragraphs {
  list-style: none;
}
.article-paragraphs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 5vmin;
}

.article-paragraphs {
  font-size: 1.3125em;
  color: #c5c5c5;
}

.article-paragraphs > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 37.5rem;
}

.article-paragraphs .heading-2 {
  margin-top: 6rem;
  font-size: 2rem;
  color: white;
}

.article-paragraphs .heading-1 {
  font-size: 3rem;
  color: white;
}

.article-intro {
  color: #c5c5c5;
  opacity: 1;
  animation: fade-in-slow 2s cubic-bezier(0.19, 1, 0.22, 1);
}

/**
 * MARGINS
*/

.margin-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.margin-0-important {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.margin-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.margin-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.margin-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.margin-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.margin-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

p.margin-0 {
  margin-top: unset;
  margin-bottom: 0rem;
}

p.margin-0-important {
  margin-top: unset;
  margin-bottom: 0rem !important;
}

p.margin-1 {
  margin-top: unset;
  margin-bottom: 1rem;
}

p.margin-2 {
  margin-top: unset;
  margin-bottom: 2rem;
}

p.margin-3 {
  margin-top: unset;
  margin-bottom: 3rem;
}

p.margin-4 {
  margin-top: unset;
  margin-bottom: 4rem;
}

p.margin-5 {
  margin-top: unset;
  margin-bottom: 5rem;
}

p.margin-6 {
  margin-top: unset;
  margin-bottom: 6rem;
}

p.margin-7 {
  margin-top: unset;
  margin-bottom: 7rem;
}

p.margin-8 {
  margin-top: unset;
  margin-bottom: 8rem;
}

/**
 *
 */
#container {
  max-width: 1300px;
  margin: 20vh auto;
  padding: 0 5vmin 0 16rem;
  opacity: 1;
}
@media only screen and (max-height: 590px) {
  #container {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 600px) {
  #container {
    padding: 2vh 5vmin 0;
  }
}

/**
 *
 */
.section-headline {
  padding: 0 0 1.5em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid rgb(30, 30, 30);
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

/**
 *
 */
#section-intro {
  margin-bottom: 20vh;
  display: block;
  color: #e1e1e1;
  opacity: 1;
  animation: fade-in-slow 500ms cubic-bezier(0.19, 1, 0.22, 1);
  hyphens: auto;
}

@media only screen and (min-width: 1300px) {
  #section-intro {
    padding: 0 13rem;
  }
}

#section-intro p {
  font-size: 1.3rem;
}

#section-body {
  display: block;
  opacity: 1;
  animation: fade-in-slow 650ms cubic-bezier(0.19, 1, 0.22, 1);
}

.html-element-wrapper iframe {
  width: 100%;
  max-width: 100%;
}

.hairline-border {
  box-shadow: 0 0 0 0.25px rgb(67, 67, 67);
  border-width: 0;
}

ul > li p {
  margin: 0 !important;
}
