@keyframes fade-in-to-85 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-slow {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: #afafaf;
  opacity: 1;
  animation: fade-in-slow 2500ms cubic-bezier(0.19, 1, 0.22, 1);
  padding-left: 14rem;
  padding-right: 5vmin;
  margin: 20vh auto 4rem auto;
}

footer a {
  color: #afafaf;
  transition: color 450ms ease-out;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}
